.btn {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 17px;
  line-height: 16px;
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border: 2px solid #444444;
  width: 100%;
}
