.btn {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 17px;
  line-height: 16px;
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border: 2px solid #444444;
  width: 100%;

  &:hover {
    background-color: #444444;
    color: #ffffff;
  }

  &__contacts {
    position: absolute;
    bottom: -555px;
    right: 30px;
    width: 89%;
  }

  &__order-form {
    background-color: #fff;
  }

  &--green {
    background-color: #63d1bb;
    color: #ffffff;
    border: none;
  }
}

@media @tablet-widths {
  .btn {

    &__reviews {
      width: 178px;
      position: absolute;
      top: 79px;
      right: 0;
    }

    &__order-form {
      padding-left: 30px;
      padding-right: 30px;
      width: 235px;
    }

    &__contacts {
      bottom: -573px;
      right: 218px;
      max-width: 230px;
    }
  }
}

@media @desktop-widths {
  .btn {

    &__contacts {
      position: static;
      margin: 0;
      width: 230px;
    }

    &__order-form {
      margin-left: 170px;
    }

    &__reviews {
      top: 93px;
    }
  }
}
