.contacts {
  padding-top: 76px;
  position: relative;
}

.contacts__container {
  .container();
}

.contacts__title {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 800;
}

.contacts__list {
  width: 100%;
  margin-bottom: 5px;
  border-spacing: 0px 25px;
  font-size: 15px;
  line-height: 30px;
  color: @color-main-text;
}

.contacts__list address {
  font-style: normal;
}

.contacts__item {
  vertical-align: top;
  width: 75px;
}

.contacts__item-value-text{
  margin: 0;
}

.contacts__item-value-link {
  border-bottom: 1px solid #62d1ba;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

@media @tablet-widths {
  .contacts__title {
    position: relative;
    font-size: 43px;
    line-height: 50px;

    &:after {
      content: "";
      position: absolute;
      top: -14px;
      right: 0;
      background-image: url(/img/icon-flag.svg);
      background-repeat: no-repeat;
      width: 47px;
      height: 82px;
    }
  }

  .contacts__list tbody {
    display: flex;
    font-size: 17px;
  }

  .contacts__list tr {
    flex-basis: 50%;
  }

  .contacts__item-value {
    max-width: 230px;
  }
}

@media @desktop-widths {
  .contacts {
    margin-top: 104px;
  }

  .contacts__container {
    padding-left: 170px;
  }

  .contacts__text-block {
    padding-top: 73px;
    width: 50%;
    margin-bottom: 30px;
  }

  .contacts__title {
    margin-top: 0;
    font-size: 53px;

    &:after {
      top: -13px;
      left: -107px;
    }
  }
  .contacts__list tbody {
    display: table;
  }

}
