.map {
  height: 450px;
  margin-bottom: 40px;
  width: 100%;
  background-image: url(/img/map-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media @desktop-widths {
  .map {
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
  }

}
