.production-card {
  font-family: "Open Sans", "Helvetica",sans-serif;
  padding-top: 20px;
  padding-bottom: 30px;
  border: 1px solid #ececec;
}

.production-card__title {
  font-size: 17px;
  font-weight: 800;
}

.production-card__description {
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}
