.product-card {
  padding-bottom: 25px;
  margin-bottom: 30px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  border: 1px solid #ececec;
}

.product-card__title {
  font-size: 17px;
  line-height: 24px;
}

.product-card__options {
  font-size: 13px;
  line-height: 30px;
  color: @color-main-text;
}

.product-card__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 800;
}
