.reviews {
  position: relative;
  padding-bottom: 45px;
}

.reviews__container {
  .container();

  position: relative;
}

@media @tablet-widths {
  .reviews {
    background-image: url(/img/review@1x.jpg);
    background-repeat: no-repeat;
    padding-bottom: 110px;

    @media (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 144dppx) {
      background-image: url(/img/review@2x.jpg);
      background-size: 350px 460px;
    }
  }
}

@media @desktop-widths {
  .reviews {
    padding-top: 14px;
    padding-bottom: 159px;
    background-image: none;
  }

  .reviews__container:before {
    background-image: url(/img/review@1x.jpg);
    background-repeat: no-repeat;
    content: " ";
    z-index: -1;
    position: absolute;
    top: 12px;
    width: 350px;
    height: 460px;

    @media (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 144dppx) {
      background-image: url(/img/review@2x.jpg);
      background-size: 350px 460px;
    }
  }
}
